page-statistics {
    .report-devider {
        background: #f8f8f8;
        p {
            padding: 0px;
            margin: 8px 0px 8px 8px;
            font-weight: bold;
        }
    }
    .dashboard-cards {
        .dashboard-card {
            min-height: 100px;
            border-radius: 8px;
            position: relative;
            p {
                color: #fff;
            }
            .title {
                font-size: 1.2em;
                margin: 0px;
            }
            .title-text {
                font-size:2.2em;
                position: absolute;
                bottom: 0px;
                right: 0px;
                margin: 0px;
            }
        }
        .scrubbed-in {
            background-color: #E4006B;
        }
        .operations {
            background-color: #546CF0;
        }
        .time-spent {
            background-color: #00BB62;
        }
    }
    .text-center {
        text-align: center;
    }
    .list {
        ion-item {
            border-bottom: 0.55px solid #c8c7cc;
        }
        p {
            color: #E4006B;
            padding: 0px;
        }
    }
}