<ion-header>
  <ion-navbar color="primary">
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <p class="error-message" *ngIf="errorMessage">{{errorMessage}}</p>
    <form [formGroup]="loginForm">
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <div class="registration-button">
        <button ion-button padding block [disabled]="loginForm.invalid || spinner" (tap)="login(loginForm)">
          <span *ngIf="!spinner">Sign In</span>
          <ion-spinner *ngIf="spinner" name="bubbles"></ion-spinner>
        </button>
        <button ion-button padding block [disabled]="googleSpinner" (tap)="signInWithGoogle()">
          <span *ngIf="!googleSpinner">Login with <ion-icon name="logo-google"></ion-icon></span>
          <ion-spinner *ngIf="googleSpinner" name="bubbles"></ion-spinner>
        </button>
        <button ion-button padding block outline (tap)="gotoSignUp()">
          Sign Up
        </button>
      </div>
    </form>
  </ion-list>
</ion-content>