ion-list-header {
    text-align: center;
    font-weight: bold;
    color: #000;
}
p {
    padding: 8px;
}
check-cancel {
    .grid {
        padding: 0px;
    }
    .col {
        padding: 2px!important;
    }
}