page-to-learn {
    .toolbar-background {
        border-style: none!important;
    }
    .content-top-header {
        background: #488aff;
        .col {
            padding: 0.5em;
            border: 1px solid #fff;
            color: #fff;
            
        }
        .row {
            padding: 0.8em;
            text-align: center;
            .heading1 {
                border-radius: 5px 0px 0px 5px;
            }
            .heading2 {
                border-radius: 0px 5px 5px 0px;
            }
        }
        .active {
            background: #fff;
            color: #488aff;
        }
    }
}
