<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      To Learn
    </ion-title>
  </ion-navbar>
  <div class="content-top-header">
    <ion-grid>
      <ion-row>
        <ion-col col-6 class="heading1" [ngClass]="{'active': !activeHeading}" (tap)="activeHeading = false">Remaining</ion-col>
        <ion-col col-6 class="heading2" [ngClass]="{'active': activeHeading}" (tap)="activeHeading = true">Completed</ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-header>

<ion-content>
  <ion-list class="todos-list" *ngIf="todos && activeHeading">
    <ion-item-sliding *ngFor="let todo of todos; trackBy: todoTrack">
      <ion-item *ngIf="todo.completed">
        <ion-label>{{todo.todo}}</ion-label>
        <ion-checkbox color="dark" [(ngModel)]="todo.completed" (ngModelChange)="todoUpdate(todo)" item-start></ion-checkbox>
        <ion-avatar item-end>
          <img src="assets/imgs/{{todo.speciality}}.svg">
        </ion-avatar>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (tap)="deleteTodo(todo)">
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list class="todos-list" *ngIf="todos && !activeHeading">
    <ion-item-sliding *ngFor="let todo of todos; trackBy: todoTrack">
      <ion-item *ngIf="!todo.completed">
        <ion-label>{{todo.todo}}</ion-label>
        <ion-checkbox color="dark" [(ngModel)]="todo.completed" (ngModelChange)="todoUpdate(todo)" item-start></ion-checkbox>
        <ion-avatar item-end>
          <img src="assets/imgs/{{todo.speciality}}.svg">
        </ion-avatar>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (tap)="deleteTodo(todo)">
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>