page-edit-settings {
    .item.item-block .item-inner {
        border-bottom:0.55px solid #c8c7cc;
    }
    .form-title {
        margin: 0px;
        padding: 1em 0em 1em 8px;
        background: #f7f4f4;
        text-align: left;
        border-bottom: 1px solid #131212;
    }
    form {
        margin-bottom: 1em;
        .item {
            padding-left: 8px;
        }
    }

    .cancel-button {
        margin-top: 1em;
    }
    .text-left {
        text-align: left;
        margin-left: 0.6em;
    }
    .btn-container {
        margin: 0em 0.5em;
        button {
            border-right-width: 1px !important;
            border-left-width: 1px !important;
        }
    }
}