page-registration {
    ion-item, .item {
        padding: 0px 8px;
    }
    .registration-button {
        padding: 14px;
    }
    ion-spinner circle {
        stroke: #fff;
        fill: #fff!important;
    }
    .item.item-block .item-inner {
        border-bottom: 0.55px solid #c8c7cc;
    }
}
