<ion-header>
  <ion-navbar color="primary">
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="addOperation()">
        <ion-icon class="add-button" name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <p class="text-center" *ngIf="homeSpinner">
    <ion-spinner name="bubbles"></ion-spinner>
  </p>
  <ion-row class="report-devider">
    <ion-col col-12>
      <p class="title">Dashboard</p>
    </ion-col>
  </ion-row>
  <ion-row class="dashboard-cards" *ngIf="homeData">
    <ion-col col-4>
      <div class="dashboard-card operations">
        <p class="title">Operations</p>
        <p class="title-text">{{homeData.totalOperations}}</p>
      </div>
    </ion-col>
    <ion-col col-4>
      <div class="dashboard-card scrubbed-in">
        <p class="title">Scrubbed in</p>
        <p class="title-text">{{homeData.scrubbedIn}}</p>
      </div>
    </ion-col>
    <ion-col col-4>
      <div class="dashboard-card time-spent">
        <p class="title">Time spent in surgery</p>
        <p class="title-text">{{homeData.totalTimeInSurgery}}h</p>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12>
      <canvas #lineCanvas></canvas>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12 class="home-buttons">
      <button ion-button large block color="primary" (tap)="addOperation()">Add Operation</button>
      <button ion-button large class="logbook" block color="light" outline (tap)="goToLogbook()">View Logbook</button>
    </ion-col>
  </ion-row>
</ion-content>