<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Your Profile
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (tap)="editprofile()">
                    Edit
        </button>
    </ion-buttons>
</ion-navbar>
</ion-header>

<ion-content>
    <ion-grid *ngIf="userDetails && userSettingData">
        <ion-row>
            <ion-col col-12 class="report-header">
                <ion-icon name="person" color="primary"></ion-icon>
                <h4 text-capitalize>{{userSettingData.name}}</h4>
            </ion-col>
        </ion-row>
        <ion-row class="report-container">
            <ion-col col-6>
                <p class="title">Current Hospital</p>
                <p text-capitalize class="title-text">{{userSettingData.currentHospital}}</p>
            </ion-col>
            <ion-col col-6>
                <p class="title">Current Country</p>
                <p text-capitalize class="title-text">{{userSettingData.currentCountry}}</p>
            </ion-col>
        </ion-row>
        <ion-row class="report-container">
            <ion-col col-12>
                <p class="title">Medical School</p>
                <p text-capitalize class="title-text">{{userSettingData.medicalSchool}}</p>
            </ion-col>
        </ion-row>
        <ion-row class="report-container">
            <ion-col col-6>
                <p class="title">Start Year</p>
                <p class="title-text">{{userSettingData.startYear}}</p>
            </ion-col>
            <ion-col col-6>
                <p class="title">Current Yeart</p>
                <p class="title-text">{{currentYear - userSettingData.startYear}}th</p>
            </ion-col>
        </ion-row>
        <ion-row class="report-devider">
            <ion-col col-12>
                <p class="title">Email Preferences</p>
            </ion-col>
        </ion-row>
        <ion-row class="report-container check-list">
            <ion-col col-12>
                <ion-item>
                    <ion-label>General Announcements</ion-label>
                    <ion-checkbox [(ngModel)]="userSettingData.generalAnnouncements" (ionChange)="PreferencesUpdate(userSettingData)"></ion-checkbox>
                </ion-item>
                <ion-item>
                    <ion-label>Emails from our partners</ion-label>
                    <ion-checkbox  [(ngModel)]="userSettingData.emailFromPartners" (ionChange)="PreferencesUpdate(userSettingData)"></ion-checkbox>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row class="report-devider">
            <ion-col col-12>
                <p class="title">Account Option</p>
            </ion-col>
        </ion-row>
        <ion-row class="report-container">
            <ion-col col-12>
                <ion-item no-lines>
                    <ion-label class="inputLable">Email</ion-label>
                    <ion-input [disabled]="true" [ngModel]="userDetails.email" placeholder="Text Input"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row class="report-container">
            <ion-col col-12>
                <ion-item no-lines>
                    <ion-label class="inputLable">Password</ion-label>
                    <ion-input [disabled]="true" placeholder="Text Input" type="password" value="password"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row class="report-container" *ngIf="loginType && loginType=='normal'">
            <ion-col col-6 >
                <button ion-button block color="secondary" (tap)="changePassword()">Change Password</button>
            </ion-col>
            <ion-col col-6>
                <button ion-button block color="danger" (tap)="logout()">Logout</button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12 *ngIf="loginType && loginType !='normal'">
                <button ion-button block color="danger" (tap)="logout()">Logout</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>