<ion-content>
    <ion-list-header>
        Change Password
    </ion-list-header>
    <form [formGroup]="changePasswordForm">
        <p class="error-message" *ngIf="errorMessage">{{errorMessage}}</p>
        <ion-item>
            <ion-label floating>New Password</ion-label>
            <ion-input formControlName="newPassword" type="password"></ion-input>
        </ion-item>
    </form>
    <ion-grid>
        <ion-row>
            <ion-col col-6>
                <button ion-button block color="default" (click)="dismiss(false)">Cancel</button>
            </ion-col>
            <ion-col col-6>
                <button ion-button block color="secondary" [disabled]="changePasswordForm.invalid || updateSpinner" (click)="changePassword(changePasswordForm)">Update</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>