ion-list-header {
    text-align: center;
    font-weight: bold;
    color: #000;
}
p {
    padding: 8px;
}
change-password{
    .item.item-block .item-inner {
        border-bottom: 0.55px solid #c8c7cc;
    }    
}
